body {
    background-color: rgb(231, 244, 183);
    text-align: center;
    padding: 5px;
    margin: 50px;
    line-height: 25px;
}


header,
footer {
    background-color: rgb(158, 238, 72);
    padding: 10px;
    margin: 10px;
    color: rgb(120, 95, 95);
    font-size: 25px;
    text-align: center;
}

div {
    padding: 10px;
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    font: 18pt sans-serif;
}
nav {
    margin: 5px;
}

nav a {
    background-color: silver;
    margin: 3px;
    padding: 3px;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    transition: 1s;
}

nav a:hover {
    background-color: darkolivegreen;
}

img:hover {
    outline: 2px solid rgb(255, 238, 0);
}

.firstP {
    color: blue;
}
.firstL {
    color: rgb(224, 105, 231);
}
